sites/*/files
sites/*/private
provision/*/.env
.idea
vendor
docker-runtime
node_modules

!app/
!app/docroot/
app/docroot/*

!app/docroot/favicon.ico

!app/docroot/libraries/

!app/docroot/modules/
app/docroot/modules/*
!app/docroot/modules/custom/

!app/docroot/themes/
app/docroot/themes/*
!app/docroot/themes/custom/

!app/docroot/sites/
app/docroot/sites/*
!app/docroot/sites/prj-settings.inc
!app/docroot/sites/local.services.yml

!app/docroot/sites/default/
app/docroot/sites/default/*
!app/docroot/sites/default/settings.php
!app/docroot/sites/default/drushrc.php
!app/docroot/sites/default/services.yml
